.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #4e5663;
  }

  .close {
    font-size: 1em;
    font-weight: bold;
    float: left;
    padding-left: 10px;
    cursor: pointer;
    color: #86d9c6;
  }
